{% extends 'templates/base.twig' %}

{% block page %}
  <h1 class="visually-hidden">АКВАВОСТОК.РФ</h1>

  <section class="hero">
    <div class="hero__top">
      <div class="container">
        <div class="hero__top-wrap">
          <h2 class="hero__title">Подберите морскую акваторию и&nbsp;занимайтесь марикультурой</h2>
          <ul class="hero__list">
            <li class="hero__item">
              <span class="hero__item-order">1</span>
              <p class="hero__item-text">Самостоятельно определите границы рыбоводного участка на&nbsp;карте</p>
            </li>
            <li class="hero__item">
              <span class="hero__item-order">2</span>
              <p class="hero__item-text">Подайте заявку на&nbsp;аренду через систему электронных аукционов</p>
            </li>
          </ul>
          <div class="hero__btns-wrap">
            <a href="https://aquavostok.ru/map" class="hero__aquavostok-link btn" target="_blank">Подобрать участок</a>
            <a href="#pupa" class="hero__more-btn btn _transparent">
              <span>Подробнее</span>
              <svg><use xlink:href="assets/sprite.svg#arrow-down"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <picture>
        <source media="(min-width: 768px)" srcset="assets/img/hero_desktop.jpeg?{{hash}} 1x, assets/img/hero_desktop@2x.jpeg?{{hash}} 2x">
        <img class="hero__bg" src="assets/img/hero_mobile.jpeg?{{hash}}" srcset="assets/img/hero_mobile@2x.jpeg?{{hash}} 2x" alt="Разгрузка рыбы">
      </picture>
    </div>
    <div class="hero__advantages advantages">
      <div class="container">
        <ul class="advantages__list">

        {% set list = [
          {
            value: '>44',
            points: 'тыс&nbsp;га',
            desc: 'разрешенной зоны с&nbsp;учётом всех ограничений'
          },
          {
            value: '>300',
            points: 'участников',
            desc: 'уже в&nbsp;пользовании инвесторов'
          },
          {
            value: '80',
            points: 'дней',
            desc: 'срок получения рыбоводного участка'
          },
        ] %}

        {% for item in list %}
          <li class="advantages__item">
            <span class="advantages__item-value">{{ item.value }}</span>
            <div class="advantages__item-wrap">
              <p class="advantages__item-points">{{ item.points }}</p>
              <p class="advantages__item-desc">{{ item.desc }}</p>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="process">
    <div class="container">
      <h2 class="title">Процесс получения участка</h2>
      <ul class="process__list">
        <li class="process__item">
          <div class="process__road">
            <div class="process__road-label">1</div>
          </div>
          <div class="process__content">
            <div class="process__content-top">
              <h3 class="process__item-title">Акредитация</h3>
              <span class="process__item-label">3 дня</span>
            </div>
            <p class="process__item-text">
              Получение усиленной ЭЦП и регистрация на площадке РТС-тендер для участия в имущественных торгах как участник
              <a href="assets/docs/Правила_проведения_торгов_по_ПП_450.pdf" target="_blank">450 ПП РФ.</a>
            </p>
            <a href="#" class="btn" target="_blank">Зарегистрироваться в РТС-тендер</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
